html{
    background: blue;
}


body{
    /* set background to white*/
    background:white;
    padding: 25px 50px;
    width: 600px;

    /* 50px vertical margin, auto width */
    margin: 50px auto;

    /* rounds corners */
    border-radius: 25px;
}
h1, h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li{
    /* adds spacing between list elements */
    margin-bottom: 10px;
}

ul{
    /* removes bullets and indent on unordered lists */
    list-style: none;
    padding-left: 0;
}

button{
    background: maroon;
    color:white;
}

img{
    /* adds grey 1px border to image */
    border: 1px solid;
    border-color: grey;
}

